{% sw_extends '@Storefront/storefront/layout/header/header.html.twig'%}

{% block layout_header_search %}
    <div class="col order-2 col-sm order-sm-1 header-search-col">
        <div class="row justify-content-center">
            <p class="col-auto fw-bold category">DAMEN</p>
            <p class="col-auto fw-bold category">HERREN</p>
            <p class="col-auto fw-bold category">SALE</p>
            <p class="col-auto fw-bold category">#FASHIONEIGHT</p>
        </div>
    </div>
{% endblock %}