{% sw_extends '@Storefront/storefront/layout/header/header.html.twig'%}

{% block layout_header_search %}
    <div class="col col-sm order-sm-1 header-search-col">
        <div class="row justify-content-center align-items-center">
            <span class="col-auto fw-bold category">Damen</span>
            <span class="col-auto fw-bold category">Herren</span>
            <span class="col-auto fw-bold category">Sale</span>
            <span class="col-auto fw-bold category">#Fashioneight</span>
        </div>
    </div>
{% endblock %}

{% block layout_header_actions %}
    <div class="col-auto order-1">
        <div class="row justify-content-end">
            <div class="col-auto p-0">
                <button type="button" class="btn">
                    {% sw_icon 'search' %}
                </button>
            </div>
            <div class="col-auto p-0">
                <button type="button" class="btn">
                {% sw_icon 'heart' %}
                </button>
            </div>
            <div class="col-auto p-0">
                <button type="button" class="btn">
                {% sw_icon 'avatar' %}
                </button>
            </div>
            <div class="col-auto p-0">
                <button type="button" class="btn">
                <div class="col position-relative">
                {% sw_icon 'cart' %}
                <span class="position-absolute top-0 start-100 translate-middle badge border border-light rounded-circle bg-warning p-1">
                2
                </span>
                </div>
                </button>
            </div>
        </div>
    </div>
{% endblock %}