{% sw_extends '@Storefront/storefront/layout/header/header.html.twig'%}

{% block layout_header_search %}
    <div class="col-12 order-2 col-sm order-sm-1 header-search-col">
        <div class="row">
            <div class="col">DAMEN</div>
            <div class="col">HERREN</div>
            <div class="col">SALE</div>
            <div class="col">#FASHIONEIGHT</div>
        </div>
    </div>
{% endblock %}